{% extends 'base.html' %}

{% block content %}
    <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">
          Ostatnio zarejestrował się:
      </div>
      <div class="card-body">
          {% for u in us %}
          {% if forloop.last %}
          <h2 class="card-title"><a href="{% url 'user-detail' pk=u.id %}">{{ u.company_name }}</a></h2>
          <p class="card-text">{{ u.post_code }} {{ u.city }} <br>{{ u.street }}
                               {{ u.nr }} <br> tel.{{ u.phone }}<br> NIP {{ u.nip }}
          </p>
          {% endif%}
          {% endfor %}
      </div>
    </div>
{% endblock %}
