{% extends 'base.html' %}

{% block content %}
    <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">
          Ostatnio zarejestrował się:
      </div>
      <div class="card-body">
          <h2 class="card-title"><a href="{% url 'user-detail' pk=us.person_id %}">{{ us.company_name }}</a></h2>
          <p class="card-text">{{ us.post_code }} {{ us.city }} <br>{{ us.street }}
                               {{ us.nr }} <br> tel.{{ us.phone }}<br> NIP {{ us.nip }}
          </p>
      </div>
    </div>
{% endblock %}
