{% extends 'base.html' %}

{% block content %}

    <form action="" method="POST">{% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Szukaj" />
    </form>
    <ul>
        {% for u in results %}
            <a href="{% url 'user-detail' pk=u.id %}"><h4>{{ u.company_name }}</h4></a>
            <a class="btn btn-primary" type="button" name="msg" href="">Wiadomość</a>
            <a class="btn btn-primary" type="button" name="add" href="">Dodaj do ulubionych</a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
