{% extends 'base.html' %}

{% block script %}
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      $( function() {
        var availableBrands = [
     'Administracja biur',
     'Administracja domów',
     'Administracja i zarządzanie pracami drogowymi i kolejowymi',
     'Administracja obiektów użyteczności publicznej',
     'Adwokaci',
     'Agenci okrętowi, maklerzy morscy',
     'Agenci ubezpieczeniowi i pośrednicy',
     'Agencje artystyczne',
     'Agencje au-pair',
     'Agencje badawcze',
     'Agencje celne i składy',
     'Agencje detektywistyczne',
     'Agencje fotograficzne',
     'Agencje i usługi ochrony osób i mienia',
     'Agencje marketingowe',
     'Agencje modelek',
     'Agencje pracy tymczasowej',
     'Agencje prasowe',
     'Agencje public relations',
     'Agencje reklamowe ATL',
     'Agencje reklamowe BTL',
     'Agencje reklamowe i doradztwo',
     'Agencje rządowe',
     'Agencje towarzyskie',
     'Agregaty chłodnicze do samochodów',
     'Agregaty prądotwórcze',
     'Agroturystyka',
     'Akcesoria do basenów',
     'Akcesoria do telefonów komórkowych',
     'Akcesoria i komponenty do mięsa, wędlin i drobiu',
     'Akcesoria i sprzęt do identyfikacji',
     'Akcesoria i sprzęt do ochrony osób i mienia',
     'Akcesoria i wyposażenie hutnictwa',
     'Akcesoria i wyposażenie jachtów, łodzi i statków',
     'Akcesoria meblowe',
     'Akcesoria taneczne',
     'Akumulatory i baterie',
     'Akustyka', 'Alergolodzy',
     'Alkohol',
     'Altany ogrodowe i wyposażenie ogrodu',
     'Aluminiowe ścianki działowe',
     'Ambasady i konsulaty',
     'Amortyzatory i resory samochodowe',
     'Analizy lekarskie',
     'Androlodzy', 'Anestezjolodzy',
     'Angiochirurdzy', 'Anteny',
     'Antyki i dzieła sztuki',
     'Antykwariaty',
     'Aparatura analityczna',
     'Aparatura medyczna i materiały',
     'Aparatura nagłośnieniowa i oświetleniowa',
     'Aparatura pomiarowa i urządzenia',
     'Aparaty słuchowe',
     'Apteki', 'Apteki całodobowe',
     'Architekci',
     'Architektura wnętrz i dekorowanie',
     'Archiwa',
     'Armatura przemysłowa',
     'Artykuły, akcesoria reklamowe',
     'Artykuły biurowe',
     'Artykuły chemiczne',
     'Artykuły dekoracyjne i architektura wnętrz',
     'Artykuły dla zwierząt',
     'Artykuły dziecięce',
     'Artykuły elektrotechniczne',
     'Artykuły elektrotechniczne',
     'Artykuły gospodarstwa domowego',
     'Artykuły gumowe',
     'Artykuły higieniczne i opatrunkowe',
     'Artykuły i akcesoria pszczelarskie',
     'Artykuły i dekoracje na przyjęcia',
     'Artykuły i dodatki do produkcji spożywczej',
     'Artykuły instalacyjno-sanitarne',
     'Artykuły i sprzęt BHP',
     'Artykuły i sprzęt harcerski',
     'Artykuły i sprzęt ogrodniczy',
     'Artykuły i urządzenia elektromechaniczne',
     'Artykuły i urządzenia elektryczne',
     'Artykuły i urządzenia elektryczne przemysłowe',
     'Artykuły i usługi komunijne',
     'Artykuły jeździeckie',
     'Artykuły kreślarskie',
     'Artykuły malarskie',
     'Artykuły metalowe',
     'Artykuły myśliwskie',
     'Artykuły optyczne i sprzęt',
     'Artykuły oświetleniowe i sprzęt',
     'Artykuły pasmanteryjne',
     'Artykuły pogrzebowe',
     'Artykuły pościelowe',
     'Artykuły rolne',
     'Artykuły sanitarne',
     'Artykuły sportowe i sprzęt',
     'Artykuły spożywcze',
     'Artykuły szewskie i kaletnicze',
     'Artykuły szkolne',
     'Artykuły świąteczne i dekoracje',
     'Artykuły wędkarskie',
     'Artykuły wojskowe i militarne',
     'Artykuły wyposażenie plastyków',
     'Atrakcje turystyczne',
     'Audiolodzy i foniatrzy',
     'Audyt oprogramowania i sprzętu',
     'Aukcje, domy aukcyjne',
     'Autobusy i przewoźnicy',
     'Autogaz',
     'Automaty do gier',
     'Automaty do sprzedaży',
     'Automatyka kolejowa',
     'Automatyka przemysłowa',
     'Awaryjne otwieranie samochodów',
     'Badania marketingowe',
     'Badania nieniszczące',
     'Badanie i uzdatnianie wody',
     'Bagażniki samochodowe',
     'Banki', 'Banki danych',
     'Banki krwi i centra krwiodawstwa',
     'Banki tkanek i narządów',
     'Banki zdjęć', 'Bankomaty',
     'Barwniki i pigmenty', 'Bary',
     'Bary mleczne',
     'Bary sałatkowe',
     'Baseny i aquaparki',
     'Bazary i targowiska', 'Beton',
     'Biblioteki i czytelnie',
     'Bielizna', 'Biopaliwa',
     'Biura matrymonialne',
     'Biura numerów',
     'Biura ogłoszeń',
     'Biura paszportowe',
     'Biura podróży',
     'Biura poselskie i senatorskie',
     'Biura pośrednictwa pracy',
     'Biura projektów',
     'Biura rachunkowe',
     'Biura rzeczy znalezionych',
     'Biżuteria i wyroby jubilerskie',
     'Biżuteria sztuczna',
     'Blacharstwo i dekarstwo',
     'Blacharstwo i lakiernictwo samochodowe',
     'Boazerie',
     'Bony i kupony',
     'Bramy, ogrodzenia i kraty',
     'Brokerzy',
     'Bruk i elementy betonowe',
     'Budowa, eksploatacja i projektowanie autostrad',
     'Budowa, produkcja i sprzedaż basenów',
     'Budowa, sprzedaż i wynajem hal i pawilonów',
     'Budowa, sprzedaż i wynajem kiosków',
     'Budowa, wynajem i serwis piętrowych stoisk targowych',
     'Budowa, wyposażenie i serwis stacji paliw',
     'Budowa i sprzedaż garaży',
     'Budowa i wyposażenie sauny',
     'Budowa obiektów przemysłowych',
     'Budowa obiektów sportowych',
     'Budowa obiektów wodnych',
     'Budowa pod klucz',
     'Budownictwo energetyczne',
     'Budownictwo kolejowe',
     'Budownictwo podziemne',
     'Budownictwo przemysłowe',
     'Budownictwo rolnicze',
     'Bukmacherzy', 'Butle gazowe',
     'Call Center', 'Catering',
     'Cegły i pustaki',
     'Cement, gips i wapno',
     'Centra handlowe',
     'Centra informacyjne i telefony',
     'Centra interwencyjno - kryzysowe',
     'Centrale telefoniczne',
     'Centra medyczne',
     'Centra powiadamiania ratunkowego',
     'Centra rozrywki',
     'Ceramika budowlana',
     'Ceramika ozdobna i użytkowa',
     'Cerowanie i repasacja',
     'Certyfikacje i badania jakości',
     'Chemia budowlana',
     'Chemia gospodarcza',
     'Chemia górnicza', 'Chirurdzy',
     'Chirurdzy naczyniowi',
     'Chirurgia plastyczna',
     'Chłodnice samochodowe',
     'Chłodnictwo', 'Chóry',
     'Ciepłownictwo', 'Ciesielstwo',
     'Cięcie wodą', 'Cmentarze',
     'Cmentarze dla zwierząt',
     'Cukiernie i ciastkarnie',
     'Cukrownie',
     'Cyrki i wesołe miasteczka',
     'Cysterny',
     'Części i naprawa maszyn budowlanych',
     'Części i podzespoły elektroniczne',
     'Czyszczenie dywanów, wykładzin i tapicerki',
     'Czyszczenie tapicerki samochodowej',
     'Czyściwa', 'Dachówki',
     'Demontaż i składowanie materiałów niebezpiecznych',
     'Dermatolodzy', 'Deszczownie',
     'Deweloperzy', 'Dewocjonalia',
     'Dezynfekcja, dezynsekcja, deratyzacja',
     'Diabetolodzy',
     'Diagnostyka obrazowa',
     'Diagnostyka samochodowa',
     'Dietetyka',
     'Dodatki i składniki do produkcji lodów',
     'Dodatki krawieckie',
     'Domofony i wideodomofony',
     'Domy akademickie',
     'Domy drewniane',
     'Domy dziecka i ośrodki opiekuńcze',
     'Domy dziennego pobytu',
     'Domy opieki', 'Domy pasywne',
     'Domy pracy twórczej',
     'Domy wypoczynkowe, pensjonaty i schroniska',
     'Domy z modułów przestrzennych',
     'Dorabianie kluczy',
     'Doradztwo finansowe',
     'Doradztwo gospodarcze',
     'Doradztwo inwestycyjne',
     'Doradztwo personalne',
     'Doradztwo podatkowe',
     'Doradztwo prawne',
     'Doradztwo rolnicze',
     'Doradztwo techniczne',
     'Doradztwo ubezpieczeniowe',
     'Dozór techniczny', 'Drabiny',
     'Drewno i artykuły drzewne',
     'Drewno kominkowe i opałowe',
     'Drób', 'Druk', 'Druk 3D',
     'Drukarnie', 'Druk cyfrowy',
     'Druk fleksograficzny',
     'Druki akcydensowe',
     'Druk offsetowy',
     'Druk transferowy',
     'Druk wielkoformatowy',
     'Druk wypukły',
     'Druty, pręty, liny stalowe',
     'Drzwi', 'Drzwi aluminiowe',
     'Drzwi antywłamaniowe',
     'Drzwi automatyczne',
     'Drzwi drewniane',
     'Drzwi dźwiękochłonne',
     'Drzwi ognioodporne',
     'Drzwi PCV',
     'Drzwi przemysłowe',
     'Drzwi przesuwne i harmonijkowe',
     'Drzwi wewnętrzne i zewnętrzne',
     'Dworce autobusowe i kolejowe',
     'Dworce i przystanki autobusowe',
     'Dworce i stacje kolejowe',
     'Dyskoteki i kluby',
     'Dystrybucja chemii gospodarczej',
     'Dystrybucja i akwizycja',
     'Dystrybucja i napełnianie gazu',
     'Dystrybutorzy filmów',
     'Dywany, wykładziny i tapicerka',
     'Dywany i wykładziny',
     'Dzianina',
     'Dzierżawa powierzchni reklamowych',
     'Dziewiarstwo', 'Dzwony',
     'Dźwigi i urządzenia dźwigowe',
     'Dźwigi osobowe', 'Dźwignice',
     'E-business', 'Ekologia',
     'Ekrany akustyczne',
     'Ekrany LED',
     'Ekspertyzy i wdrożenia techniczne',
     'Eksporterzy',
     'E-learning',
     'Elektroenergetyka',
     'Elektromechanika samochodowa',
     'Elektronarzędzia',
     'Elektronika',
     'Elektronika i telefony do biura',
     'Elektronika samochodowa',
     'Elektrostatyka',
     'Elektrownie i elektrociepłownie',
     'Elementy zabezpieczające',
     'Emaliernie',
     'Emblematy, proporce i tarcze szkolne',
     'Endokrynolodzy', 'Energetyka',
     'Energetyka, gazownictwo i gospodarka wodna',
     'Energetyka ekologiczna',
     'Energia odnawialna',
     'Epidemiolodzy', 'Ezoteryka',
     'Fajki',
     'Faktury elektroniczne',
     'Farby i lakiery',
     'Farmaceutyka',
     'Farmaceutyki', 'Fast food',
     'Felgi', 'Feng shui',
     'Filtrowentylacje', 'Filtry',
     'Finanse firmy',
     'Finanse osobiste',
     'Finansowanie, kredyty i lokaty',
     'Firmy budowlane',
     'Firmy ubezpieczeniowe',
     'Firmy wodociągowe i kanalizacyjne',
     'Fitness',
     'Flagi i maszty', 'Flebolodzy',
     'Florystyka ślubna',
     'Folia i artykuły foliowe',
     'Folie budowlane',
     'Foliowanie i powlekanie',
     'Fotografia użytkowa',
     'Fryzury ślubne', 'Fundacje',
     'Fundamenty i wykopy',
     'Fundusze i spółki inwestycyjne',
     'Fundusze i towarzystwa emerytalne',
     'Fundusze unijne',
     'Futra', 'Gadżety reklamowe',
     'Galerie', 'Galwanizacja',
     'Garaże', 'Gastrolodzy',
     'Gaśnice',
     'Gazety i czasopisma',
     'Gazobeton', 'Gazownictwo',
     'Gazy techniczne',
     'Generatory i prądnice',
     'Genetycy', 'Geoinformatyka',
     'Geosyntetyki', 'Geriatrzy',
     'Giełdy',
     'Gimnazja niepubliczne',
     'Gimnazja publiczne',
     'Ginekolodzy',
     'Glazura i terakota',
     'Glazura i terakota', 'Gokarty',
     'Gorseciarstwo',
     'Gospodarstwa rolne i ogrodnicze',
     'Granity i marmury',
     'Grawerstwo', 'Grunty',
     'Gry komputerowe, telewizyjne i wideo',
     'Gry liczbowe i loterie',
     'Grzybnie i runo leśne',
     'Gzymsy i sztukaterie',
     'Handel i sklepy internetowe',
     'Handel międzynarodowy',
     'Hematolodzy', 'Heraldyka',
     'Herbaciarnie', 'Hipoterapia',
     'Histopatolodzy',
     'Hodowcy i hurtownie kwiatów',
     'Hodowla, pielęgnacja i tresura zwierząt domowych',
     'Hodowla drobiu',
     'Hodowla i połów ryb',
     'Hodowla zwierząt',
     'Holdingi', 'Hologramy',
     'Holowanie i pomoc drogowa',
     'Homeopaci', 'Hotele',
     'Hotele dla zwierząt',
     'Hotele pracownicze',
     'Hurtownia chemii gospodarczej',
     'Hurtownie i dystrybutorzy książek',
     'Hurtownie i producenci AGD',
     'Hurtownie i producenci alkoholi',
     'Hurtownie i producenci artykułów biurowych i papierniczych',
     'Hurtownie i producenci artykułów chemicznych',
     'Hurtownie i producenci artykułów elektrotechnicznych',
     'Hurtownie i producenci artykułów elektrycznych',
     'Hurtownie i producenci bielizny',
     'Hurtownie i producenci biżuterii',
     'Hurtownie i producenci dywanów i wykładzin',
     'Hurtownie i producenci farb i lakierów',
     'Hurtownie i producenci farmaceutyków',
     'Hurtownie i producenci instalacji i urządzeń energetycznych i gazowych',
     'Hurtownie i producenci preparatów dietetycznych',
     'Hurtownie i producenci RTV',
     'Hurtownie i producenci urządzeń biurowych',
     'Hurtownie i producenci urządzeń grzejnych',
     'Hurtownie i producenci wyróbów cukierniczych',
     'Hurtownie jaj',
     'Hurtownie owoców i warzyw',
     'Hurtownie ryb',
     'Hurtownie wielobranżowe',
     'Huty', 'Hydraulika siłowa',
     'Immunolodzy', 'Importerzy',
     'Import win',
     'Imprezy integracyjne',
     'Informacja autobusowa',
     'Informacja budowlana',
     'Informacja celna',
     'Informacja dla alergików',
     'Informacja dla niepełnosprawnych',
     'Informacja dla obcokrajowców',
     'Informacja kolejowa',
     'Informacja kulturalna',
     'Informacja lotnicza',
     'Informacja medyczna',
     'Informacja miejska',
     'Informacja morska',
     'Informacja o komunikacji miejskiej',
     'Informacja o lekach',
     'Informacja o produktach, handlu i usługach',
     'Informacja o sektach',
     'Informacja o stanie dróg',
     'Informacja o wypadkach',
     'Informacja o zagubionych i znalezionych zwierzętach',
     'Informacja o żegludze',
     'Informacja paszportowa',
     'Informacja promowa',
     'Informacja statystyczna',
     'Informacja taxi',
     'Informacja toksykologiczna',
     'Informacja turystyczna',
     'Informacja ZUS',
     'Inkubatory przedsiębiorczości',
     'Instalacje, wyposażenie i sprzęt chłodniczy',
     'Instalacje C.O.',
     'Instalacje elektryczne',
     'Instalacje gazowe',
     'Instalacje hydrauliczne',
     'Instalacje medyczne',
     'Instalacje przemysłowe',
     'Instalacje sanitarne',
     'Instalacje sanitarne i grzewcze',
     'Instrumenty muzyczne',
     'Instytucje energetyczne, gazownicze i gospodarki wodnej',
     'Instytucje obrony cywilnej',
     'Instytuty medyczne',
     'Instytuty naukowe',
     'Internaty i bursy', 'Internet',
     'Interniści',
     'Inwestycje alternatywne',
     'Inwestycje budowlane',
     'Inwestycje tradycyjne',
     'Inżynieria budowlana',
     'Izby wytrzeźwień',
     'Izby zawodowe i cechy rzemieślnicze',
     'Izolacja, termoizolacja i hydroizolacja',
     'Izolacja akustyczna',
     'Izolacje antykorozyjne',
     'Jachty, łodzie i statki',
     'Jadłodajnie i stołówki',
     'Jazda konna', 'Joga',
     'Jubilerzy', 'Kabarety',
     'Kable i przewody',
     'Kalendarze, katalogi i foldery reklamowe',
     'Kamieniarze',
     'Kamień i kruszywa', 'Kanistry',
     'Kantory',
     'Kapelusze i czapki',
     'Kardiolodzy',
     'Karty identyfikacyjne i czytniki',
     'Karty płatnicze i rabatowe',
     'Kasy fiskalne',
     'Kasyna i salony gier',
     'Kawa, herbata',
     'Kawiarenki internetowe',
     'Kawiarnie', 'Kebab',
     'Kempingi',
     'Kina',
     'Klapy dymowe i świetliki',
     'Kleje i zaprawy',
     'Kleje i żywice',
     'Klimatyzacja samochodowa',
     'Klinkier',
     'Kluby',
     'Kluby emerytów i rencistów',
     'Kluby i sale bilardowe',
     'Kluby nocne', 'Kody kreskowe',
     'Kolej wąskotorowa',
     'Kolekcjonerstwo',
     'Kolektury i lottomaty',
     'Koła i związki łowieckie',
     'Kominki i piece', 'Kominy',
     'Komisy', 'Komitety',
     'Komornicy',
     'Kompleksowe usługi budowlane',
     'Kompleksowe usługi instalacji',
     'Kompleksowe wyposażenie firm w komputery',
     'Komponenty i półprodukty do tworzyw sztucznych',
     'Kompresory', 'Komputery',
     'Komputery używane',
     'Komunikacja miejska',
     'Konserwacja drewna',
     'Konserwacja i naprawa dźwigów i urządzeń dźwigowych',
     'Konserwacja i ochrona zabytków',
     'Konsole',
     'Konstrukcje aluminiowe',
     'Konstrukcje budowlane',
     'Konstrukcje dachowe',
     'Konstrukcje stalowe',
     'Konstrukcje żelbetowe',
     'Konsulting', 'Kontenery',
     'Konwojowanie',
     'Końcówki serii odzieży',
     'Kopalnie',
     'Korek naturalny', 'Koronki',
     'Kosmetyki',
     'Kosmetyki do samochodów i konserwacja',
     'Kosmetyki samochodowe',
     'Kosztorysowanie i ekspertyzy budowlane',
     'Kościoły i organizacje kościelne',
     'Kotły', 'Kowalstwo',
     'Kółka transportowe', 'Krawaty',
     'Krawiectwo',
     'Krawiectwo ekskluzywne',
     'Kręgielnie', 'Krzesła',
     'Kserokopiarki', 'Księgarnie',
     'Księgowi i rewidenci',
     'Kupno, sprzedaż i wynajem nieruchomości',
     'Kuratorium oświaty',
     'Kursy komputerowe',
     'Kursy lotniarstwa',
     'Kursy sportowe',
     'Kuśnierze i futrzarze',
     'Kwiaciarnie',
     'Laboratoria filmowe',
     'Lakiernictwo proszkowe',
     'Lakiery samochodowe',
     'Laminowanie i foliowanie',
     'Lampy, żyrandole i abażury',
     'Lampy ostrzegawcze i sygnalizatory dźwiękowe',
     'Laryngolodzy', 'Lasery',
     'Leasing', 'Leasing samochodów',
     'Leczenie nadwagi i otyłości',
     'Leczenie uzależnień',
     'Lekarskie wizyty domowe',
     'Lekarze medycyny pracy',
     'Lekarze medycyny sądowej',
     'Lekarze medycyny sportowej',
     'Lekarze położnicy',
     'Lekarze rodzinni',
     'Lekarze specjaliści chorób zakaźnych',
     'Leśnictwo',
     'Linie energetyczne, rurociągi i obiekty',
     'Linie lotnicze',
     'Liny, sznury i nici', 'Lody',
     'Lodziarnie', 'Logistyka',
     'Logopedzi', 'Lombardy',
     'Lotniska', 'Loty balonem',
     'Luksfery', 'Lustra', 'Łożyska',
     'Łożyska przemysłowe',
     'Łóżka wodne',
     'Magazynowanie i składowanie',
     'Magle',
     'Magnesy i magnetyzery',
     'Maklerzy giełdowi',
     'Malarstwo artystyczne',
     'Malowanie i tapetowanie',
     'Manekiny', 'Mapy i plany',
     'Marketing bezpośredni',
     'Marketing internetowy',
     'Marketing i promocja', 'Masaż',
     'Maszty i słupy',
     'Maszynopisanie i usługi sekretarskie',
     'Maszyny budowlane',
     'Maszyny czyszczące i sprzątające',
     'Maszyny dla gospodarki komunalnej',
     'Maszyny dla górnictwa',
     'Maszyny do okien i drzwi',
     'Maszyny do produkcji mebli',
     'Maszyny do produkcji spożywczej',
     'Maszyny do przemysłu spożywczego',
     'Maszyny do tworzyw sztucznych',
     'Maszyny do utrzymania dróg',
     'Maszyny dziewiarskie',
     'Maszyny fotograficzne',
     'Maszyny hutnicze',
     'Maszyny i akcesoria poligraficzne',
     'Maszyny i materiały do przemysłu ceramicznego',
     'Maszyny i sprzęt do opakowań',
     'Maszyny i sprzęt drukarski',
     'Maszyny i urządzenia do odwodnienia',
     'Maszyny i urządzenia do produkcji lodów',
     'Maszyny i urządzenia do przemysłu mięsnego',
     'Maszyny i urządzenia farmaceutyczne',
     'Maszyny i urządzenia lakiernicze',
     'Maszyny i urządzenia używane',
     'Maszyny kamieniarskie',
     'Maszyny krawieckie',
     'Maszyny pakujące i etykietujące',
     'Maszyny przemysłowe',
     'Maszyny rolnicze',
     'Maszyny włókiennicze',
     'Materace',
     'Materiały budowlane',
     'Materiały do produkcji reklamowej',
     'Materiały eksploatacyjne do komputerów',
     'Materiały elewacyjne',
     'Materiały farmaceutyczne i opakowania z tworzyw sztucznych',
     'Materiały i akcesoria drukarskie',
     'Materiały i akcesoria górnicze',
     'Materiały i pokrycia dachowe',
     'Materiały i urządzenia elektrotechniczne',
     'Materiały izolacyjne',
     'Materiały ogniotrwałe',
     'Materiały opałowe',
     'Materiały skóropodobne',
     'Materiały tapicerskie',
     'Materiały uszczelniające',
     'Materiały wykończeniowe',
     'Meble antyczne',
     'Meble artystyczne',
     'Meble biurowe',
     'Meble do sypialni',
     'Meble dziecięce i młodzieżowe',
     'Meble komputerowe',
     'Meble kuchenne',
     'Meble łazienkowe',
     'Meble metalowe',
     'Meble na zamówienie',
     'Meble ogrodowe',
     'Meble orientalne',
     'Meble plastikowe',
     'Meble rattanowe',
     'Meble sklepowe',
     'Meble sosnowe',
     'Meble systemowe',
     'Meble szklane',
     'Meble tapicerowane',
     'Meble używane',
     'Meble wypoczynkowe',
     'Meble z litego drewna',
     'Mechaniczne elementy napędowe',
     'Mechanika precyzyjna', 'Media',
     'Medycyna estetyczna',
     'Medycyna naturalna', 'Mennice',
     'Merchandising', 'Metale',
     'Metale nieżelazne',
     'Metale żelazne',
     'Metalizacja próżniowa',
     'Metaloplastyka', 'Metalurgia',
     'Mięso, wędliny i drób',
     'Mleczarnie i zlewnie mleka',
     'Mleko i produkty mleczne',
     'Młyny i spichrze',
     'Modelarstwo',
     'Modemy i mobilny internet',
     'Modernizacja komputerów',
     'Monitoring pojazdów',
     'Monitorowanie pojazdów',
     'Montaż mebli',
     'Montaż okien i drzwi',
     'Montaż urządzeń i instalacji energetycznych, gazowniczych i gospodarki wodnej',
     'Motele i zajazdy',
     'Motocykle, motorowery i skutery',
     'Motoreduktory i przekładnie',
     'Mrożonki', 'Multimedia',
     'Muzea',
     'Muzycy i zespoły muzyczne',
     'Myjnie samochodowe',
     'Naczepy, przyczepy',
     'Nadruki na tkaninach',
     'Nadruki na tkaninach i impregnacja',
     'Nadwozia samochodowe',
     'Nadzór budowlany',
     'Naklejki i etykiety',
     'Nakrycia stołowe',
     'Naleśnikarnie',
     'Namioty halowe', 'Naprawa AGD',
     'Naprawa części samochodowych',
     'Naprawa i wypożyczanie sprzętu sportowego',
     'Naprawa komputerów',
     'Naprawa obuwia',
     'Naprawa RTV, wideo, DVD',
     'Naprawa sprzętu fotograficznego',
     'Naprawa telefonów komórkowych',
     'Narodowy Fundusz Zdrowia',
     'Narzędzia',
     'Narzędzia i materiały do bandowania',
     'Narzędzia i sprzęt budowlany',
     'Narzędzia rolnicze i sprzęt',
     'Narzędzia tnące i skrawające',
     'Narzędziownie',
     'Nasiennictwo i sadzonki',
     'Nauczanie indywidualne i korepetycje',
     'Nauka jazdy',
     'Nauka języków obcych',
     'Nauka muzyki', 'Nauka rysunku',
     'Nawigacja', 'Nawozy',
     'Nefrolodzy', 'Neurochirurdzy',
     'Neurolodzy',
     'Neutralizacja i usuwanie azbestu',
     'Nici przemysłowe',
     'Niepubliczne szkoły artystyczne',
     'Niepubliczne szkoły podstawowe',
     'Niepubliczne szkoły policealne',
     'Niepubliczne szkoły średnie',
     'Niepubliczne szkoły wyższe',
     'Niepubliczne szkoły zawodowe',
     'Niepubliczny zespół szkół',
     'Nieruchomości',
     'Nietypowe rozmiary odzieżowe',
     'Nietypowe usługi reklamowe',
     'Niezależni operatorzy telefonii stacjonarnej',
     'Niszczenie dokumentów',
     'Noclegi i kwatery prywatne',
     'Notariusze', 'Noże i ostrza',
     'null',
     'Numizmatyka i filatelistyka',
     'Nurkowanie',
     'Obiekty sportowe',
     'Obiekty targowe i wystawowe',
     'Obozy językowe', 'Obrabiarki',
     'Obrączki ślubne',
     'Obróbka i maszyny do drewna',
     'Obróbka i maszyny do metali',
     'Obróbka tworzyw sztucznych',
     'Obrusy i serwety',
     'Obserwatoria i planetaria',
     'Obsługa cudzoziemców',
     'Obsługa stoczni',
     'Obsługa targów i wystaw',
     'Obsługa techniczna budynków',
     'Obuwie i artykuły obuwnicze',
     'Obuwie skórzane',
     'Ochrona danych',
     'Ochrona odgromowa',
     'Ochrona osób i mienia',
     'Ochrona przeciwpożarowa',
     'Ochrona środowiska',
     'Ocieplanie i osuszanie',
     'Ocynkownie',
     'Odblaski', 'Odchudzanie',
     'Odgrzybianie budynków',
     'Odkurzacze centralne',
     'Odkurzacze przemysłowe',
     'Odlewnictwo',
     'Odnowa biologiczna',
     'Odstraszanie ptaków',
     'Odszkodowania i likwidacja szkód',
     'Odtruwanie',
     'Odwodnienia budowlane',
     'Odzież ciążowa',
     'Odzież damska',
     'Odzież dziecięca',
     'Odzież lniana', 'Odzież męska',
     'Odzież ochronna, robocza i artykuły BHP',
     'Odzież reklamowa',
     'Odzież skórzana',
     'Odzież skórzana i galanteria',
     'Odzież sportowa i obuwie',
     'Odzież używana',
     'Odzyskiwanie danych',
     'Odżywki i suplementy',
     'Ogrody zoologiczne',
     'Ogrodzenia betonowe',
     'Ogrzewanie podłogowe',
     'Ogrzewanie słoneczne',
     'Okleiny i sklejki',
     'Oklejanie samochodów', 'Okna',
     'Okna aluminiowe',
     'Okna antywłamaniowe',
     'Okna dachowe i do poddaszy',
     'Okna drewniane',
     'Okna i drzwi balkonowe',
     'Okna PCV',
     'Okna samoczyszczące',
     'Okna skrzydłowe', 'Okucia',
     'Okulary', 'Okuliści',
     'Oleje i tłuszcze spożywcze',
     'Onkolodzy', 'Opakowania',
     'Opakowania drewniane',
     'Opakowania foliowe',
     'Opakowania jednorazowe',
     'Opakowania metalowe',
     'Opakowania papierowe i tekturowe',
     'Opakowania styropianowe',
     'Opakowania szklane',
     'Opakowania z tworzyw sztucznych',
     'Opieka i organizacja zabaw dla dzieci',
     'Opieka nad seniorami', 'Opony',
     'Oprawa obrazów',
     'Oprogramowanie informatyczne',
     'Oprogramowanie komputerowe',
     'Optometryści', 'Optycy',
     'Optymalizacja zakupów',
     'Organizacja imprez i wypożyczanie sprzętu',
     'Organizacja imprez masowych',
     'Organizacja imprez sportowych i rekreacji',
     'Organizacja kolonii i obozów młodzieżowych',
     'Organizacja konferencji',
     'Organizacja przyjęć',
     'Organizacja przyjęć ślubnych',
     'Organizacja targów i wystaw',
     'Organizacje handlowe',
     'Organizacje międzynarodowe',
     'Organizacje pożytku publicznego',
     'Organizacje społeczne i charytatywne',
     'Organizacje sportowe',
     'Ortodonci', 'Ortopedzi',
     'Osprzęt do dźwigów i żurawi',
     'Osteoporolodzy', 'Ostrzenie',
     'Ośrodki, kluby sportowe i rekreacyjne',
     'Ośrodki adopcyjne',
     'Ośrodki badawczo - rozwojowe',
     'Ośrodki dla uchodźców',
     'Ośrodki i sale konferencyjne',
     'Ośrodki kultury i sztuki',
     'Ośrodki kultury zagranicznej',
     'Ośrodki rehabilitacyjno - wczasowe',
     'Ośrodki szkolne i wychowawcze',
     'Ośrodki wypoczynkowe i szkoleniowe',
     'Outsourcing',
     'Outsourcing komputerowy',
     'Outsourcing medyczny',
     'Owoce i warzywa',
     'Owoce morza',
     'Oznakowanie i sygnalizacja dróg',
     'Paintball', 'Pakowanie',
     'Palety',
     'Paliwa, oleje i smary',
     'Pamiątki i upominki',
     'Panele i podłogi',
     'Papier i tektura',
     'Papy i lepiki',
     'Parapety', 'Parasole',
     'Parki, ogrody i rezerwaty',
     'Parkingi', 'Partie polityczne',
     'Pasieki pszczelarskie',
     'Pasmanterie',
     'Pasy napędowe i taśmy transportujące',
     'Pasze', 'Patomorfolodzy',
     'Pediatrzy i neonatolodzy',
     'Perforacje blach i siatki',
     'Peruki i treski',
     'Peryferyjne urządzenia komputerowe',
     'Piaskowanie',
     'Piece przemysłowe',
     'Pieczarkarnie',
     'Pieczątki i datowniki',
     'Piekarnicze składniki',
     'Piekarnie', 'Pierogarnie',
     'Pierze',
     'Pilarki, kosiarki, wykaszarki',
     'Pirotechnika', 'Pizzerie',
     'Placówki oświatowe',
     'Plakatowanie',
     'Plandeki i pokrowce',
     'Planowanie kampanii reklamowych',
     'Plaże i kąpieliska',
     'Plomby i plombownice',
     'Płyty, kasety, CD, DVD',
     'Płyty i akcesoria meblowe',
     'Płyty i kształtki drewnopochodne',
     'Pneumatyka przemysłowa',
     'Pocztówki',
     'Podnośniki i transportery',
     'Podnośniki koszowe',
     'Podpis elektroniczny',
     'Podwozia samochodowe',
     'Pogotowia ciepłownicze',
     'Pogotowia dezynsekcji i deratyzacji',
     'Pogotowia drogowe i oświetlenia ulic',
     'Pogotowia dźwigowe',
     'Pogotowia elektryczne',
     'Pogotowia energetyczne',
     'Pogotowia gazowe',
     'Pogotowia informatyczne',
     'Pogotowia inne',
     'Pogotowia kanalizacyjno - asenizacyjne',
     'Pogotowia kominiarskie',
     'Pogotowia komunalne',
     'Pogotowia komunikacji miejskiej',
     'Pogotowia ratownictwa górniczego',
     'Pogotowia ratunkowe',
     'Pogotowia stomatologiczne',
     'Pogotowia techniczne',
     'Pogotowia weterynaryjne',
     'Pogotowia wodno - kanalizacyjne',
     'Policja', 'Poligrafia',
     'Pomiary i analizy dźwięku i drgań',
     'Pomoc drogowa i holowanie pojazdów',
     'Pomoce dydaktyczne',
     'Pomoc społeczna', 'Pompy',
     'Poradnictwo laktacyjne',
     'Poradnie',
     'Porady prawne, konsulting i wycena nieruchomości',
     'Porcelana i fajans',
     'Portale internetowe', 'Porty',
     'Posadzki, parkiety i wykładziny',
     'Posadzki przemysłowe',
     'Pośrednictwo handlowe',
     'Pośrednictwo paszportowe',
     'Powlekanie metali',
     'Powozy i bryczki',
     'Półfabrykaty do mebli',
     'Prace górnicze',
     'Prace wodne i melioracyjne',
     'Prace wysokościowe',
     'Prace ziemne i uzbrajanie terenu',
     'Pracownie artystyczne',
     'Pracownie graficzne',
     'Pracownie rentgenowskie',
     'Pralnie i farbiarnie',
     'Prawa autorskie',
     'Prefabrykaty budowlane',
     'Prezenty ślubne',
     'Prezerwatywy',
     'Prędkościomierze, tachografy i taksometry',
     'Producenci chemii gospodarczej',
     'Producenci domów letniskowych',
     'Producenci filmów',
     'Producenci i hurtownie akcesoriów i części zamiennych do samochodów',
     'Producenci i hurtownie artykułów i sprzętu sportowego',
     'Producenci i hurtownie artykułów metalowych',
     'Producenci i hurtownie artykułów sanitarnych',
     'Producenci i hurtownie artykułów spożywczych',
     'Producenci i hurtownie kalendarzy',
     'Producenci i hurtownie kawy, herbaty',
     'Producenci i hurtownie kosmetyków',
     'Producenci i hurtownie koszul',
     'Producenci i hurtownie krawatów',
     'Producenci i hurtownie lodów',
     'Producenci i hurtownie mięsne',
     'Producenci i hurtownie narzędzi',
     'Producenci i hurtownie obuwia',
     'Producenci i hurtownie odzieży dżinsowej',
     'Producenci i hurtownie odzieży i konfekcji',
     'Producenci i hurtownie odzieży skórzanej i galanterii',
     'Producenci i hurtownie oświetlenia',
     'Producenci i hurtownie pasmanteryjne',
     'Producenci i hurtownie piwa',
     'Producenci i hurtownie płyt, kaset, CD i DVD',
     'Producenci i hurtownie sprzętu fotograficznego',
     'Producenci i hurtownie szkła ozdobnego i użytkowego',
     'Producenci i hurtownie środków czystości',
     'Producenci i hurtownie tkanin dekoracyjnych, firan, zasłon',
     'Producenci i hurtownie tkanin i artykułów tekstylnych',
     'Producenci i hurtownie zabawek',
     'Producenci i hurtownie zegarów i zegarków',
     'Producenci i hurtownie z klimatyzacją',
     'Producenci i sprzedawcy asfaltu',
     'Producenci i sprzedawcy dźwigów i urządzeń dźwigowych',
     'Producenci i sprzedawcy foteli pasażerskich',
     'Producenci i sprzedawcy jachtów, łodzi i statków',
     'Producenci i sprzedawcy mebli',
     'Producenci i sprzedawcy metali kolorowych',
     'Producenci włóknin',
     'Produkcja, sprzedaż i kopiowanie wideo, CD i DVD',
     'Produkcja, sprzedaż i usługi taboru kolejowego',
     'Produkcja autobusów',
     'Produkcja i sprzedaż kominów',
     'Produkcja i sprzedaż łańcuchów',
     'Produkcja i wdrażanie systemów informatycznych',
     'Produkcja opakowań',
     'Produkcja rur',
     'Produkcja samochodów',
     'Produkcja tablic, znaków informacyjnych i drogowych',
     'Produkcja zapałek',
     'Produkty i akcesoria gazownicze',
     'Produkty mączne i zbożowe',
     'Projektowanie, instalacja i serwis ogrzewania',
     'Projektowanie i utrzymanie ogrodów i terenów zieleni',
     'Projektowanie i utrzymanie placów zabaw',
     'Projektowanie mechaniki',
     'Projektowanie stron www',
     'Proktolodzy', 'Prokuratura',
     'Przechowywanie i przetwarzanie danych',
     'Przedsiębiorstwa komunalne',
     'Przedsiębiorstwa oczyszczania',
     'Przedstawicielstwa firm zagranicznych',
     'Przedstawicielstwo samochodowe',
     'Przedszkola niepubliczne',
     'Przedszkola publiczne',
     'Przeglądy rejestracyjne',
     'Przejścia graniczne',
     'Przekładnie',
     'Przeładunki i usługi portowe',
     'Przemysłowe środki czystości',
     'Przemysł spożywczy i rolny',
     'Przemysł tytoniowy',
     'Przemysł zbrojeniowy',
     'Przenośniki',
     'Przeprowadzki',
     'Przeszycia odzieży',
     'Przetwórnie jaj',
     'Przetwórnie owocowo - warzywne',
     'Przetwórnie spożywcze',
     'Przewodnicy turystyczni',
     'Przezwajanie silników elektrycznych',
     'Przędza, włóczka i wełna',
     'Przychodnie dziecięce',
     'Przychodnie podstawowej opieki zdrowotnej',
     'Przychodnie przyszpitalne',
     'Przychodnie specjalistyczne',
     'Przychodnie zakładowe',
     'Przydomowe oczyszczalnie ścieków',
     'Przygotowalnie poligraficzne',
     'Przyprawy, koncentraty i aromaty',
     'Psychiatrzy',
     'Psycholodzy', 'Psychoterapia',
     'Publiczne szkoły artystyczne',
     'Publiczne szkoły podstawowe',
     'Publiczne szkoły policealne',
     'Publiczne szkoły średnie',
     'Publiczne szkoły wyższe',
     'Publiczne szkoły zawodowe',
     'Publiczny zespół szkół',
     'Puby i piwiarnie',
     'Pulmunolodzy',
     'Quady', 'Radcy prawni',
     'Radiolodzy', 'Radioodbiorniki',
     'Rady osiedlowe i organizacje',
     'Rajstopy, pończochy i skarpety',
     'Ratownictwo górskie',
     'Ratownictwo wodne',
     'Recykling',
     'Redakcje gazet i czasopism',
     'Regeneracja maszyn',
     'Regeneracja podzespołów samochodowych',
     'Rehabilitacja',
     'Rehabilitacja medyczna',
     'Rejestracja czasu pracy',
     'Reklama', 'Reklama dźwiękowa',
     'Reklama filmowa',
     'Reklama multimedialna',
     'Reklama na pojazdach',
     'Reklama prasowa',
     'Reklama radiowa',
     'Reklama świetlna',
     'Reklama wielkoformatowa',
     'Reklama zewnętrzna',
     'Rekultywacja terenu',
     'Remonty i renowacje',
     'Renowacja i wyprawa skór',
     'Renowacja mebli',
     'Renowacja obrazów',
     'Reprodukcje obrazów',
     'Restauracja argentyńska',
     'Restauracje afrykańskie',
     'Restauracje amerykańskie',
     'Restauracje arabskie',
     'Restauracje bałkańskie',
     'Restauracje bułgarskie',
     'Restauracje chińskie',
     'Restauracje europejskie',
     'Restauracje francuskie',
     'Restauracje fusion',
     'Restauracje greckie',
     'Restauracje hiszpańskie',
     'Restauracje indyjskie',
     'Restauracje inne kuchnie',
     'Restauracje japońskie',
     'Restauracje koreańskie',
     'Restauracje meksykańskie',
     'Restauracje międzynarodowe',
     'Restauracje polskie',
     'Restauracje rosyjskie',
     'Restauracje śródziemnomorskie',
     'Restauracje tajskie',
     'Restauracje tureckie',
     'Restauracje wegetariańskie',
     'Restauracje węgierskie',
     'Restauracje wietnamskie',
     'Restauracje włoskie',
     'Restauracje z kuchnią autorską',
     'Restauracje żydowskie',
     'Reumatolodzy',
     'Rezerwacja i sprzedaż biletów',
     'Rośliny', 'Rośliny ozdobne',
     'Rośliny sztuczne', 'Rowery',
     'Rozbudowa i modernizacja domów',
     'Rozgłośnie radiowe',
     'RTV, wideo, DVD',
     'Rurociągi i gazociągi',
     'Rury i kształtki',
     'Rusztowania i szalunki',
     'Ryby i przetwory rybne',
     'Rymarze', 'Rynny',
     'Rzecznicy patentowi',
     'Rzecznicy praw',
     'Rzeczoznawcy',
     'Rzemiosło artystyczne',
     'Rzeźbiarze', 'Rzeźnie',
     'Sale ślubne',
     'Salony fryzjerskie',
     'Salony kosmetyczne',
     'Salony samochodów nowych',
     'Samochodowe haki holownicze',
     'Samochodowe instalacje gazowe',
     'Samochodowe instalacje olejowe',
     'Samochody ciężarowe i dostawcze',
     'Samochody powypadkowe',
     'Samochody specjalistyczne',
     'Samochody zabytkowe',
     'Sanatoria',
     'Satelitarna transmisja danych',
     'Sądy i trybunały',
     'Scenografia i kostiumy',
     'Schody, balustrady i poręcze',
     'Schroniska dla zwierząt',
     'Sejfy i kasy pancerne',
     'Seksuolodzy', 'Serwery',
     'Serwis artykułów i urządzeń elektrycznych',
     'Serwis i sklepy z urządzeniami biurowymi',
     'Serwis urządzeń chłodniczych',
     'Sex shopy',
     'Siatki ogrodzeniowe',
     'Sieci informatyczne',
     'Sieci i systemy komputerowe',
     'Silikon', 'Silniki', 'Silosy',
     'Siłownie i kulturystyka',
     'Sitodruk',
     'Skanowanie i naświetlanie',
     'Sklep i serwis drukarek',
     'Sklepy AGD',
     'Sklepy całodobowe',
     'Sklepy cukiernicze',
     'Sklepy farmaceutyczne',
     'Sklepy fotograficzne',
     'Sklepy komputerowe',
     'Sklepy mięsne',
     'Sklepy monopolowe',
     'Sklepy obuwnicze',
     'Sklepy owocowo-warzywne',
     'Sklepy RTV',
     'Sklepy rybne',
     'Sklepy spożywcze',
     'Sklepy wielobranżowe',
     'Sklepy z artykułami biurowymi i papierniczymi',
     'Sklepy z artykułami chemicznymi',
     'Sklepy z artykułami elektrycznymi',
     'Sklepy z artykułami i sprzętem sportowym',
     'Sklepy z artykułami metalowymi',
     'Sklepy z artykułami sanitarnymi',
     'Sklepy z bielizną',
     'Sklepy z biżuterią i wyrobami jubilerskimi',
     'Sklepy z chemią gospodarczą',
     'Sklepy z częściami samochodowymi',
     'Sklepy ze szkłem ozdobnym i użytkowym',
     'Sklepy z instrumentami muzycznymi',
     'Sklepy z kawą, herbatą',
     'Sklepy z kosmetykami',
     'Sklepy z krawatami',
     'Sklepy z książkami',
     'Sklepy z narzędziami',
     'Sklepy z odzieżą dżinsową',
     'Sklepy z odzieżą i konfekcją',
     'Sklepy z odzieżą skórzaną i galanterią',
     'Sklepy zoologiczne',
     'Sklepy z oświetleniem',
     'Sklepy z płytami, kasetami, CD i DVD',
     'Sklepy z preparatami dietetycznymi',
     'Sklepy z środkami czystości',
     'Sklepy z telefonami komórkowymi',
     'Sklepy z tkaninami dekoracyjnymi, firanami i zasłonami',
     'Sklepy z tkaninami i artykułami tekstylnymi',
     'Sklepy z tworzywami sztucznymi',
     'Sklepy z zabawkami',
     'Sklepy z zegarami i zegarkami',
     'Sklep z farbami i lakierami',
     'Sklep z urządzeniami grzejnymi',
     'Skład tekstu',
     'Składy budowlane',
     'Składy opałowe',
     'Skrzynie biegów',
     'Skup, sprzedaż surowców wtórnych',
     'Skup aut powypadkowych i uszkodzonych',
     'Skup i sprzedaż skór',
     'Skutery wodne',
     'Służba Dyżurna Miasta',
     'Solaria', 'Sołtysi', 'SPA',
     'Specjalistyczne usługi budowlane',
     'Specjalne Strefy Ekonomiczne',
     'Spedycja',
     'Sport i rekreacja',
     'Sporty ekstremalne',
     'Spółdzielnie inwalidów',
     'Spółdzielnie i spółki lekarskie',
     'Spółdzielnie mieszkaniowe',
     'Spółdzielnie spożywców',
     'Spółki dostawcy gazu',
     'Sprężarki', 'Sprężyny',
     'Sprzątanie',
     'Sprzedaż, kolportaż i prenumerata gazet i czasopism',
     'Sprzedaż, wynajem i serwis autobusów',
     'Sprzedaż artykułów energetycznych, gazowniczych i gospodarki wodnej',
     'Sprzedaż i montaż DVD w samochodach',
     'Sprzedaż i naprawa broni',
     'Sprzedaż maszyn budowlanych',
     'Sprzedaż opakowań',
     'Sprzedaż samochodów używanych',
     'Sprzedaż tworzyw sztucznych',
     'Sprzedaż wysyłkowa',
     'Sprzęgła i hamulce przemysłowe',
     'Sprzęt budowlany',
     'Sprzęt fotograficzny',
     'Sprzęt i akcesoria do fotografii cyfrowej',
     'Sprzęt i akcesoria do golfa',
     'Sprzęt i akcesoria do instalacji c.o.',
     'Sprzęt i akcesoria do instalacji elektrycznych',
     'Sprzęt i akcesoria do instalacji gazowych',
     'Sprzęt i akcesoria do instalacji hydraulicznych',
     'Sprzęt i akcesoria do instalacji sanitarno-grzewczych',
     'Sprzęt i akcesoria do komputerów',
     'Sprzęt i akcesoria do kręgielni',
     'Sprzęt i akcesoria do mikrofilmów',
     'Sprzęt i akcesoria do prac podwodnych',
     'Sprzęt i akcesoria spawalnicze',
     'Sprzęt informatyczny',
     'Sprzęt i urządzenia elektroniczne',
     'Sprzęt i urządzenia hydrauliczne',
     'Sprzęt i usługi radiokomunikacyjne',
     'Sprzęt i wyposażenie do malowania i tapetowania',
     'Sprzęt i wyposażenie kryminalistyczne',
     'Sprzęt i wyposażenie lotniarstwa',
     'Sprzęt i wyposażenie lotnictwa',
     'Sprzęt i wyposażenie siłowni',
     'Sprzęt i wyposażenie weterynaryjne',
     'Sprzęt medyczny i rehabilitacyjny',
     'Sprzęt narciarski',
     'Sprzęt ratowniczy i gaśniczy',
     'Sprzęt telekomunikacyjny i podzespoły',
     'Sprzęt telewizyjny i radiowy',
     'Sprzęt żeglarski',
     'Stacje hodowli, kwarantanny i ochrony roślin',
     'Stacje hodowli, kwarantanny i unasieniania zwierząt',
     'Stacje meteorologiczne',
     'Stacje obsługi samochodów',
     'Stacje paliw',
     'Stacje sanitarno-epidemiologiczne',
     'Stacje telewizyjne',
     'Stadniny i stada koni',
     'Stal i wyroby stalowe',
     'Stal nierdzewna',
     'Starostwa powiatowe',
     'Stocznie',
     'Stolarka aluminiowa',
     'Stolarstwo', 'Stomatolodzy',
     'Stowarzyszenia, towarzystwa i związki',
     'Straż Graniczna',
     'Straż Miejska',
     'Straż Ochrony Kolei',
     'Straż Pożarna',
     'Straż przybrzeżna',
     'Straż rybacka',
     'Strojenie i konserwacja instrumentów muzycznych',
     'Stropy',
     'Strzelnice', 'Studia nagrań',
     'Studnie',
     'Styliści, projektanci i wizażyści',
     'Styropian',
     'Sufity podwieszane',
     'Suknie ślubne',
     'Supermarkety i hipermarkety',
     'Suplementy diety',
     'Surowce chemiczne i odczynniki',
     'Surowce mineralne',
     'Surowce włókiennicze',
     'Sygnalizatory drogowe, kolejowe i wodne',
     'Syndycy, likwidatorzy',
     'Systemy alarmowe',
     'Systemy alarmowe i zabezpieczające',
     'Systemy audiowizualne',
     'Systemy bankowe',
     'Systemy dźwiękowe',
     'Systemy identyfikacji',
     'Systemy kontroli dostępu',
     'Systemy odwadniające',
     'Systemy oświetleniowe',
     'Systemy podsłuchowe',
     'Systemy telekomunikacyjne',
     'Systemy zabezpieczające',
     'Systemy zarządzania',
     'Systemy zasilania',
     'Szafy wnękowe i garderoby',
     'Szale i chusty', 'Szamba',
     'Szczotki i pędzle', 'Szklarze',
     'Szkło', 'Szkło budowlane',
     'Szkło techniczne',
     'Szkolenia i konsultacje z obrony cywilnej',
     'Szkolenia i kursy',
     'Szkolenia i kursy medyczne',
     'Szkoły biznesu',
     'Szkoły dla dorosłych',
     'Szkoły i kursy narciarskie',
     'Szkoły języków obcych',
     'Szkoły katolickie',
     'Szkoły muzyczne',
     'Szkoły rodzenia',
     'Szkoły tańca',
     'Szkółki drzew i krzewów',
     'Szkółki hodowlane', 'Szlabany',
     'Szlifierze',
     'Szpitale, kliniki i hospicja',
     'Sztandary i chorągwie',
     'Sztukaterie', 'Szyberdachy',
     'Szyby',
     'Szyby, reflektory i lusterka',
     'Szyby antywłamaniowe',
     'Szyby do drzwi',
     'Szyby dźwiękochłonne',
     'Szyby meblowe',
     'Szyby okienne',
     'Szyby przeciwsłoneczne',
     'Szyby refleksyjne',
     'Szyby samochodowe',
     'Szyby samoczyszczące',
     'Szyldy', 'Ściany działowe',
     'Ściany osłonowe i szklane dachy',
     'Ściany przesuwne',
     'Ścierne i polerujące narzędzia i artykuły',
     'Ślusarstwo',
     'Środki czystości',
     'Środki konserwujące do obuwia',
     'Środki ochrony roślin',
     'Światłowody',
     'Świece i znicze',
     'Tablice rejestracyjne',
     'Tabliczki znamionowe',
     'Tampodruk',
     'Tapety', 'Tapicerka',
     'Tapicerzy', 'Targi i wystawy',
     'Tartaki',
     'Taśmy samoprzylepne',
     'Tatuaże', 'Taxi',
     'Teatry i filharmonie',
     'Technologie bezwykopowe',
     'Technologie budowlane',
     'Technologie mobilne',
     'Technologie plazmowe',
     'Telefony i urządzenia łączności',
     'Telefony zaufania',
     'Telewizja kablowa',
     'Telewizja przemysłowa',
     'Telewizja satelitarna',
     'Terapia solna',
     'Terapia zajęciowa',
     'Termodruk',
     'Termoizolacje',
     'Tkaniny dekoracyjne, firany, zasłony',
     'Tkaniny dekoracyjne, firany, zasłony, usługi',
     'Tkaniny i artykuły tekstylne',
     'Tkaniny i włóczki',
     'Tkaniny techniczne',
     'Tłocznie gazu',
     'Tłocznie oleju',
     'Tłocznie ścieków', 'Tłumacze',
     'Tłumaczenie i udźwiękowienie filmów',
     'Tłumacze przysięgli',
     'Tłumiki i układy wydechowe',
     'Tłuszcze paszowe',
     'Toalety przenośne', 'Tonery',
     'Trampoliny',
     'Transport kolejowy',
     'Transport lotniczy',
     'Transport lotniczy',
     'Transport materiałów i sprzętu budowlanego',
     'Transport międzynarodowy',
     'Transport morski',
     'Transport osobowy',
     'Transport samochodowy',
     'Transport sanitarny',
     'Transport specjalistyczny',
     'Transport śródlądowy',
     'Trumny', 'Tuning',
     'Turbosprężarki',
     'Turystyka',
     'Tworzywa sztuczne',
     'Tworzywa sztuczne, usługi',
     'Tynki',
     'Tytoń i artykuły tytoniowe',
     'Ubezpieczenia',
     'Ubezpieczenia domów i mieszkań',
     'Ubezpieczenia finansowe',
     'Ubezpieczenia komunikacyjne',
     'Ubezpieczenia następstw nieszczęśliwych wypadków',
     'Ubezpieczenia na życie',
     'Ubezpieczenia społeczne',
     'Ubezpieczenia turystyczne',
     'Ubezpieczenia wyjazdów krajowych i zagranicznych',
     'Ubezpieczenia zdrowotne',
     'Układanie glazury i terakoty',
     'Układanie parkietów i posadzek',
     'Układy kierownicze do samochodów',
     'Układy napędowe do samochodów',
     'Unia Europejska',
     'Urolodzy',
     'Urząd Marszałkowski',
     'Urząd Wojewódzki',
     'Urządzenia biurowe',
     'Urządzenia elektroenergetyczne',
     'Urządzenia energetyczne i grzejne',
     'Urządzenia i sprzęt specjalistyczny',
     'Urządzenia masujące',
     'Urządzenia ochrony środowiska',
     'Urządzenia parkingowe',
     'Urządzenia pralnicze i prasowalnicze',
     'Urządzenia próżniowe',
     'Urządzenia przemysłowe',
     'Urządzenia utylizacyjne',
     'Urzędy celne',
     'Urzędy centralne',
     'Urzędy dzielnicowe',
     'Urzędy górnicze',
     'Urzędy miar',
     'Urzędy miast i gmin',
     'Urzędy morskie',
     'Urzędy pocztowe',
     'Urzędy pracy',
     'Urzędy skarbowe',
     'Urzędy stanu cywilnego',
     'Urzędy statystyczne',
     'Urzędy terenowe',
     'USG i laser',
     'Usługi adresowo-wysyłkowe',
     'Usługi archeologiczne',
     'Usługi audytu', 'Usługi BHP',
     'Usługi biurowe',
     'Usługi brukarskie',
     'Usługi budowlane',
     'Usługi czyszczenia',
     'Usługi dekarskie',
     'Usługi dotyczące urządzeń energetycznych i grzejnych',
     'Usługi elektroinstalacyjne',
     'Usługi elektromechaniczne',
     'Usługi elektroniczne',
     'Usługi elektrotechniczne',
     'Usługi elewacyjne i izolacyjne',
     'Usługi fotograficzne',
     'Usługi geodezyjne i kartograficzne',
     'Usługi geologiczne i geofizyczne',
     'Usługi hafciarskie',
     'Usługi hydrauliczne',
     'Usługi hydrotechniczne i wodno-kanalizacyjne',
     'Usługi i dostawcy internetu',
     'Usługi informatyczne',
     'Usługi introligatorskie',
     'Usługi inwestycyjne',
     'Usługi i produkty do archiwizacji',
     'Usługi i sprzęt leśniczy',
     'Usługi i wypożyczanie dźwigów i urządzeń dźwigowych',
     'Usługi klimatyzacyjne',
     'Usługi kominiarskie',
     'Usługi komputerowe',
     'Usługi komunalne',
     'Usługi krawieckie',
     'Usługi kserograficzne',
     'Usługi kurierskie i pocztowe',
     'Usługi laboratoryjne',
     'Usługi lakiernicze',
     'Usługi malarskie',
     'Usługi murarskie i tynkarskie',
     'Usługi ogólnobudowlane',
     'Usługi pielęgniarskie',
     'Usługi plastyków',
     'Usługi płac i wynagrodzeń',
     'Usługi pogrzebowe',
     'Usługi poligraficzne',
     'Usługi porządkowe',
     'Usługi protetyczne',
     'Usługi rolnicze',
     'Usługi spawalnicze',
     'Usługi szewskie i kaletnicze',
     'Usługi ślubne',
     'Usługi telekomunikacyjne',
     'Usługi transportowe',
     'Usługi weterynaryjne',
     'Usługi włókiennicze',
     'Usługi wykończeniowe',
     'Usługi ziemne i zbrojenia',
     'Usługi związane z jachtami, łodziami i statkami',
     'Uszczelki, zawory',
     'Utrzymanie dróg',
     'Utrzymanie ruchu przemysłowego',
     'Utylizacja',
     'Używane części i akcesoria samochodowe',
     'Wagi',
     'Walizki, nesesery i torby podróżne',
     'Wełny mineralne',
     'Wentylacja',
     'Węgiel drzewny i brykiety',
     'Węże i złącza',
     'Wideofilmowanie',
     'Wideokonferencje',
     'Wiercenia i cięcia betonu',
     'Wiklina, bambus i trzcina',
     'Windy i schody ruchome',
     'Windykacja i obrót wierzytelnościami',
     'Witraże',
     'Wizytówka SEO', 'Wizytówki',
     'Wodomierze i liczniki ciepła',
     'Wody mineralne i napoje',
     'Wojsko',
     'Wózki elektryczne, spalinowe i widłowe',
     'Wózki przemysłowe i transportowe',
     'Wróżbici i astrolodzy',
     'Wspinaczka skałkowa',
     'Wspólnoty mieszkaniowe',
     'Wulkanizacja i wyważanie kół',
     'Wyburzanie i rozbiórki',
     'Wyciągi i koleje linowe',
     'Wycieraczki obiektowe',
     'Wydawcy gazet i czasopism',
     'Wydawnictwa',
     'Wydobycie i sprzedaż soli',
     'Wydobywcy i sprzedawcy węgla',
     'Wykonywanie prac drogowych i kolejowych',
     'Wykrywacze metali',
     'Wynajem samochodów',
     'Wyposażenie aptek',
     'Wyposażenie archiwów',
     'Wyposażenie banków',
     'Wyposażenie biur',
     'Wyposażenie gabinetów lekarskich i stomatologicznych',
     'Wyposażenie gastronomii',
     'Wyposażenie hoteli',
     'Wyposażenie i akcesoria bilardowe',
     'Wyposażenie introligatorni i materiały introligatorskie',
     'Wyposażenie kasyn i salonów gier',
     'Wyposażenie kempingów i sprzęt kempingowy',
     'Wyposażenie klubów i dyskotek',
     'Wyposażenie kuchni',
     'Wyposażenie laboratoriów',
     'Wyposażenie laboratoriów językowych',
     'Wyposażenie łazienek',
     'Wyposażenie magazynów',
     'Wyposażenie pracowni jubilerskich',
     'Wyposażenie salonów fryzjerskich',
     'Wyposażenie salonów kosmetycznych',
     'Wyposażenie sklepów',
     'Wyposażenie solariów',
     'Wyposażenie stacji, warsztatów i myjni',
     'Wyposażenie strzelnic',
     'Wyposażenie szkół',
     'Wyposażenie teatrów, kin i ośrodków kultury',
     'Wyposażenie wnętrz',
     'Wypożyczalnie mebli',
     'Wypożyczalnie strojów',
     'Wypożyczanie AGD',
     'Wypożyczanie maszyn budowlanych',
     'Wypożyczanie samochodów',
     'Wypożyczanie wideo, CD i DVD',
     'Wypożyczanie zastawy stołowej',
     'Wyroby cukiernicze',
     'Wyroby garmażeryjne',
     'Wyroby hutnicze',
     'Wyroby orientalne',
     'Wyroby z tworzyw sztucznych',
     'Wyrób i sprzedaż obrazów',
     'Wysypiska śmieci',
     'Wytwórnie fonograficzne',
     'Wywiadownie gospodarcze',
     'Wywóz śmieci i asenizacja',
     'Wzornictwo przemysłowe',
     'Zabawki',
     'Zabezpieczenia antykorozyjne',
     'Zabezpieczenia antykorozyjne samochodów',
     'Zabezpieczenia antywłamaniowe',
     'Zabezpieczenia komputerowe',
     'Zabezpieczenia przeciwpowodziowe',
     'Zabezpieczenia przeciwpożarowe',
     'Zabezpieczenia przeciwpożarowe',
     'Zabudowa stoisk targowych i wystawowych',
     'Zabytki',
     'Zakłady drobiarskie',
     'Zakłady karne i poprawcze',
     'Zakłady Opieki Zdrowotnej',
     'Zakłady Pracy Chronionej',
     'Zamki i klamki',
     'Zamki i stacyjki do samochodów',
     'Zamocowania',
     'Zamówienia publiczne',
     'Zaopatrzenie cukierni i piekarni',
     'Zaopatrzenie gastronomii',
     'Zaopatrzenie gastronomii w artykuły spożywcze',
     'Zapalniczki',
     'Zaproszenia ślubne',
     'Zarządzanie flotą',
     'Zarządzanie nieruchomościami',
     'Zawiesia i uchwyty',
     'Zbiorniki', 'Zboża',
     'Zbrojenia budowlane',
     'Zdrowa żywność',
     'Zegarmistrze',
     'Zegary i zegarki',
     'Zgromadzenia zakonne',
     'Zioła', 'Ziołolecznictwo',
     'Złomowanie samochodów',
     'Złoto i kamienie szlachetne',
     'Znakowanie i kodowanie',
     'Znakowanie samochodów',
     'Żaluzje, rolety, markizy i moskitiery',
     'Żegluga',
     'Żelatyna',
     'Żłobki niepubliczne',
     'Żłobki publiczne'
        ];
        $( "#brands" ).autocomplete({
          source: availableBrands
        });
      } );
      </script>
{% endblock %}
{% block content %}
    <form action="" method="POST">{% csrf_token %}
        <label for="brands">Opis działalności: </label>
        <input id="brands">
        <input type="submit" value="Szukaj" />
    </form>
{% endblock %}
