{% extends 'base.html' %}

{% block content %}

    <form action="" method="POST">{% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Szukaj" />
    </form>
    <ul>
        {% for u in results %}
        <li>
            <a href="{% url 'user-detail' pk=u.id %}"><h4>{{ u.company_name }}</h4></a>
            <input class="btn btn-primary" type="button" value="Wiadomość">
            <input class="btn btn-primary" type="button" value="Dodaj do ulubionych">
        </li>
        {% endfor %}
    </ul>

{% endblock %}
