{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Nazwa firmy</th>
            <th>NIP</th>
            <th>Kod pocztowy</th>
            <th>Miasto</th>
            <th>Ulica</th>
            <th>Nr.</th>
            <th>Telefon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{ us.company_name }}</td>
            <td>{{ us.nip }}</td>
            <td>{{ us.post_code }}</td>
            <td>{{ us.city }}</td>
            <td>{{ us.street }}</td>
            <td>{{ us.nr }}</td>
            <td>{{ us.phone }}</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th colspan="5">
                Profil działalności: (określenie kategorii branży w jakiej działa firma)
                <a href="{% url 'brands-add' pk=user.id %}">Dodaj</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for b in my_brands %}
                <td>{{ b.name }}</td>
            {% empty %}
                <td>Profil prowadzonej działalności nie zostal określony.</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th colspan="5">
                Poszukiwany profil działalności: (określenie kategorii branży, której poszukuje firma)
                <a href="{% url 'interesting-brands-add' pk=user.id %}">Dodaj</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for b in brands %}
                <td>{{ b.name }}</td>
            {% empty %}
                <td>Profil szukanej działalności nie zostal określony.</td>
            {% endfor %}

        </tr>
    </tbody>
</table>
{% endblock %}
